<div class="wrapper">
        <h1>Kairos Admin Console</h1>
        <h2>Set your new password</h2>
        <form class="signin-form">
            
            <span *ngIf='invalidPassword'>Passwords do not match</span>
            <span *ngIf='invalidFormat'>Invalid Password Format</span>
            
            <mat-form-field class="form-input">
                <input matInput 
                    name="email" 
                    type='email' 
                    (input)="handleChange($event)" 
                    [(ngModel)]='state.email' 
                    placeholder="Email" 
                    required>
            </mat-form-field>
        
            <mat-form-field class="form-input">
                <input matInput 
                    name="password" 
                    type='password' 
                    data-pass="pass" 
                    (input)="handleChange($event)" 
                    [(ngModel)]='state.password' 
                    placeholder="Password" 
                    required>
            </mat-form-field>

            <mat-form-field class="form-input">
                <input matInput 
                    name="confirmPassword" 
                    type='password' 
                    data-pass="pass2" 
                    (input)="handleChange($event)" 
                    [(ngModel)]='state.passwordConfirm' 
                    placeholder="Confirm Password" 
                    required>
            </mat-form-field>
    
            <button mat-button (click)="handleSubmit($event)">Submit New Password</button>
        </form>
    </div>
