<div class="wrapper">
    <h1>Kairos Admin Console</h1>
    <form class="signin-form">
        
        <span *ngIf='this.state.errors.cognito'>Invalid username or password</span>
        
        <mat-form-field class="form-input">
            <input matInput name="email" (input)="handleChange($event)" [(ngModel)]='state.email' placeholder="Email" required>
        </mat-form-field>
    
        <mat-form-field class="form-input">
            <input matInput name="password" type='password' data-pass="true" (input)="handleChange($event)" [(ngModel)]='state.password' placeholder="Password" required>
        </mat-form-field>

        <button mat-button (click)="handleSubmit($event)">Sign In</button>
    </form>
</div>