.wrapper {
    background-image: url("../../../assets/adminBkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    margin-top: 100px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 25px;
    border-radius: 4px;
    margin: auto;
    margin-top: 50px;
    background: #eee;
}

span {
    color: red;
}

@media only screen and (max-width: 460px) {
    h1 {
        margin-top: 50px;
    }

    .signin-form {
        border: none;
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
    }
}